@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #e2e2e2;
  font-family: "DM Sans", sans-serif;
}

.title-h1 {
  color: #202020;
  position: absolute;
  top: 250px;
  left: 60px;

  font-size: 43px;
}

.cont-div {
  display: flex;
  justify-content: center;
}

.cont {
  /* display: flex; */

  display: grid;
  grid-template-columns: repeat(4, 450px);
  height: 100vh;
  width: 92.8vw;
  /* background-color: blue; */
}

.card-container {
  height: 500px;
  width: 350px;

  margin-top: 110px;
}

.card-container img {
  height: 500px;
  width: 430px;

  margin-right: 50px;
  transition: all 0.4s ease-in;
}

.card-container img:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.9);
  transition: all 0.4s ease-in;
}

p {
  color: #202020;
}

.productName {
  font-size: 24px;
}

.productPrice {
  font-size: 18px;
}

.productColor {
  color: rgba(0, 0, 0, 0.6);
}

.btn-image {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
