.register-h1 {
  font-size: 42px;
  color: #202020;
  margin: 50px 0 0 50px;
}

.fname-label {
  color: #202020;
  font-size: 32px;
}

.fname-input {
  width: 400px;
  height: 30px;

  padding: 10px;
  color: #202020;
}

.form-container {
  margin: 50px 0 0 50px;
}
